<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/1.png" width="150px" />
            <h1>ViCreate</h1>
            <form role="form" #form="ngForm" (ngSubmit)="login(form)" method="post">
                <div class="form-content">
                    <div class="form-group">
                        <input ngModel type="email" name="email" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input ngModel type="password" name="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit">{{ 'Log in' | translate }}</button>
                &nbsp;
                <button class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</button>
            </form>
        </div>
    </div>
</div>
