<div class="login-page" >
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/VirseLogo.png" width="100%" />
            <form role="form" #form="ngForm" (ngSubmit)="forgot(form)">
                <div class="form-content">
                    <div class="form-group">
                        <i class="fa fa-envelope-o"></i>
                        <input type="email" ngModel name="email" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>
                </div>
                <button class="btn btn-full" type="submit">{{ 'SEND EMAIL' | translate }}</button>
                <br/><br/>
                <button class="btn btn-outline" [routerLink]="['/login']">{{ 'LOG IN' | translate }}</button>
            </form>
        </div>
    </div>
</div>
