<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <!-- <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-link"></i>&nbsp;
            <span>{{ 'Room designer' | translate }}</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-inbox"></i>&nbsp;
            <span>{{ 'Inner walls' | translate }}</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-university"></i>&nbsp;
            <span>{{ 'Outer walls' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-picture-o"></i>&nbsp;
            <span>{{ 'Add Items' | translate }}</span>
        </a> -->
        <a id="design_tab" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-link"></i>&nbsp;
            <span>{{ 'Room designer' | translate }}</span>
        </a>

        <a id="floorplan_tab" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-university"></i>&nbsp;
            <span>{{ 'Outer walls' | translate }}</span>
        </a>
        <a id="inner_tab" class="list-group-item" (click)="onInnerBtn()">
            <i class="fa fa-fw fa-inbox"></i>&nbsp;
            <span>{{ 'Inner walls' | translate }}</span>
        </a>
        <a id="items_tab" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-picture-o"></i>&nbsp;
            <span>{{ 'Add Items' | translate }}</span>
        </a>

        <div class="header-fields">
          <hr>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; My Account</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li> -->
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
